USE [master]
GO
/****** Object:  Database [coseinutili]    Script Date: 19/03/2023 21:08:04 ******/
CREATE DATABASE [coseinutili]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'coseinutili', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\coseinutili.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'coseinutili_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\coseinutili_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [coseinutili].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [coseinutili]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 19/03/2023 21:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commenti]    Script Date: 19/03/2023 21:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commenti](
	[Id] [int] NOT NULL,
	[Commento] [text] NOT NULL,
	[Star] [int] NOT NULL,
	[Reply] [int] NULL,
	[Pin] [bit] NULL,
	[Pubblicazione] [timestamp] NOT NULL,
	[IdUtente] [int] NOT NULL,
 CONSTRAINT [PK_Commenti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commenti_Categorie]    Script Date: 19/03/2023 21:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commenti_Categorie](
	[Categoria] [varchar](50) NOT NULL,
	[IdCommento] [int] NOT NULL,
 CONSTRAINT [PK_Commenti_Categorie] PRIMARY KEY CLUSTERED 
(
	[Categoria] ASC,
	[IdCommento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag_Utenti]    Script Date: 19/03/2023 21:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag_Utenti](
	[IdUtente] [int] NOT NULL,
	[IdCommento] [int] NOT NULL,
 CONSTRAINT [PK_Tag_Utenti] PRIMARY KEY CLUSTERED 
(
	[IdUtente] ASC,
	[IdCommento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 19/03/2023 21:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[Id] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Utenti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commenti]  WITH CHECK ADD  CONSTRAINT [FK_Commenti_Commenti] FOREIGN KEY([Reply])
REFERENCES [dbo].[Commenti] ([Id])
GO
ALTER TABLE [dbo].[Commenti] CHECK CONSTRAINT [FK_Commenti_Commenti]
GO
ALTER TABLE [dbo].[Commenti]  WITH CHECK ADD  CONSTRAINT [FK_Commenti_Utenti] FOREIGN KEY([IdUtente])
REFERENCES [dbo].[Utenti] ([Id])
GO
ALTER TABLE [dbo].[Commenti] CHECK CONSTRAINT [FK_Commenti_Utenti]
GO
ALTER TABLE [dbo].[Commenti_Categorie]  WITH CHECK ADD  CONSTRAINT [FK_Commenti_Categorie_Categorie] FOREIGN KEY([Categoria])
REFERENCES [dbo].[Categorie] ([Categoria])
GO
ALTER TABLE [dbo].[Commenti_Categorie] CHECK CONSTRAINT [FK_Commenti_Categorie_Categorie]
GO
ALTER TABLE [dbo].[Commenti_Categorie]  WITH CHECK ADD  CONSTRAINT [FK_Commenti_Categorie_Commenti] FOREIGN KEY([IdCommento])
REFERENCES [dbo].[Commenti] ([Id])
GO
ALTER TABLE [dbo].[Commenti_Categorie] CHECK CONSTRAINT [FK_Commenti_Categorie_Commenti]
GO
ALTER TABLE [dbo].[Tag_Utenti]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Utenti_Commenti] FOREIGN KEY([IdCommento])
REFERENCES [dbo].[Commenti] ([Id])
GO
ALTER TABLE [dbo].[Tag_Utenti] CHECK CONSTRAINT [FK_Tag_Utenti_Commenti]
GO
ALTER TABLE [dbo].[Tag_Utenti]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Utenti_Utenti] FOREIGN KEY([IdUtente])
REFERENCES [dbo].[Utenti] ([Id])
GO
ALTER TABLE [dbo].[Tag_Utenti] CHECK CONSTRAINT [FK_Tag_Utenti_Utenti]
GO
USE [master]
GO
