<script>
function nascondiInvio(id){
    console.log(`ID uguale a ${id} con tipo ${typeof(id)}`)
    if (id === -1)
        this.document.getElementById("Invia-commenti").setAttribute("style", "display: none;")
} 
</script>
@{
    ViewData["Title"] = "Logged in";
    var inserimento = ViewData["Inserimento"];
    var user = ViewData["Username"];
    var iden = ViewData["Id"];
}
@model LoginModels
<div class="text-center">
    <p> Hello user [@user]</p>
    <div id="Invia-commenti">
        Pubblica commento:
        <form name="InviaCommento" id="InviaCommento" asp-action="InviaCommento" asp-controller="Success">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Commento" class="control-label">Inserisci un commento:</label>
                <textarea asp-for="Commento" class="form-control" placeholder="Commento"></textarea>
                <span asp-validation-for="Commento" class="text-danger">
                    @{
                        if (inserimento != null)
                            @Html.DisplayName((string)inserimento)
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Pin" class="control-label">Fissare il commento?</label>
                <input asp-for="Pin" class="form-check" placeholder="Pin"/>
                <span asp-validation-for="Pin" class="text-danger">
                    Se l'utente é amministratore potrá fissare il commento per tutti, altrimenti verrá fissato solamente sul rispettivo profilo
                </span>
            </div>    
            <br/>
            <div class="form-group">
                <input type="submit" value="Invia" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <hr/>
    @await Html.PartialAsync("Commenti")
</div>
<script>
    window.onload = nascondiInvio(@iden);
</script>
